/* Default styles for larger screens */
.section-container-skills {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  border-style: solid;
  border-color: #121315;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.skill-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 20%;
}

.skill {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  margin-bottom: 20px;
}

.skill > img {
  width: 108px;
  margin-bottom: 15px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.skill > p {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.015em;
  color: whitesmoke;
}

.skills-vector-frame {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  z-index: -10;
  right: 0;
  bottom: 0;
  width: 80%;
}

.skills-vector {
  max-height: 100%;
  width: 100%;
}

/* For small width screens */
@media only screen and (max-width: 640px) {
  .section-container-skills {
    margin-bottom: 10%;
  }
  .skills-vector-frame {
    width: 90%; /* Adjust the width for smaller screens */
  }
  .skill-card-container {
    margin: 0px; /* Adjust margin for smaller screens */
  }
}
