.experience-container {
  margin-top: 3rem;
  padding: 0 2rem 5rem 2rem;
}

@media screen and (max-width: 769px) {
  .experience-container {
    padding: 0 1.5rem 4.5rem 1.5rem;
  }
}

.exp-block {
  height: 15rem;
  display: flex;
}

.exp-block-left {
  flex: 1;
  height: 100%;
  text-align: right;
}

.exp-block-left .exp-block-content {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 3rem 1rem 0;
}

@media screen and (max-width: 769px) {
  .exp-block-left {
    display: none;
  }
}

.exp-block-right {
  flex: 1;
  height: 100%;
}

.exp-block-right .exp-block-content {
  flex: 1;
  height: 100%;
  width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 0 1rem 3rem;
}

.exp-block-right .block-left {
  padding: 0 0 1rem 15rem;
  width: 380px;
  margin-left: 10rem;
}

.exp-block-right .exp-block-content.hide-sm {
  padding: 0 0 2rem 3rem;
}

.exp-block-separator {
  height: 100%;
  width: 0.5rem;
  background: rgba(15, 22, 48, 0.6);
  position: relative;
  border-radius: 1rem;
}

.exp-block-separator:before {
  content: "";
  position: absolute;
  bottom: -1.1rem;
  left: 50%;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1.4rem;
  display: block;
  background: #0d132e;
  transform: translate(-50%);
}

.exp-block-separator-first:after {
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 50%;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1.4rem;
  display: block;
  background: #0d132e;
  transform: translate(-50%);
}

.exp-year-tag-right,
.exp-year-tag-left,
.present-day-tag {
  background: #0d132e;
  color: #ffffff;
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  position: absolute;
  white-space: nowrap;
}

.exp-year-tag-right:before,
.exp-year-tag-left:before,
.present-day-tag:before {
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid #0d132e;
  width: 0;
  height: 0;
  bottom: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.exp-year-tag-right {
  left: 2rem;
  bottom: -1.2rem;
}

.exp-year-tag-right:before {
  left: -14px;
}

.exp-year-tag-left {
  right: 2rem;
  bottom: -1.2rem;
}

.exp-year-tag-left:before {
  right: -14px;
}

.present-day-tag {
  top: -0.5rem;
  left: 2rem;
}

.present-day-tag:before {
  left: -14px;
}

.company-logo img {
  height: 3rem;
}

.company-logo svg {
  height: 4rem;
  fill: #474c56;
}

@media screen and (max-width: 580px) {
  .company-logo img {
    height: 2rem;
  }
  .company-logo svg {
    height: 3rem;
    fill: #474c56;
  }
}

.company-name {
  font-size: 2rem;
  font-weight: 500;
  color: #0d132e;
}

@media screen and (max-width: 580px) {
  .company-name {
    font-size: 1.7rem;
  }
}

.role {
  font-size: 1.3rem;
  font-weight: 500;
  font-style: italic;
}

@media screen and (max-width: 580px) {
  .role {
    font-size: 1.1rem;
  }
}
